[Unit]
Description=Vue Frontend Service
After=learn-network.service
Requires=learn-network.service

[Container]
ContainerName=learn-vue
Image=localhost/my-vue-frontend:latest
Network=learn.network
PublishPort=3000:80

[Service]
Restart=always
# Tambahkan ini agar tidak kena limit saat restart loop saat debugging
StartLimitIntervalSec=0

[Install]
WantedBy=default.target